{% extends "base.html" %}
{% block web_title %}
    找回密码
{% endblock %}
{% block body_part %}
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h2 style="text-align: center">找回密码</h2>
    </div>
</div>
<hr>
<h1 style="color: blue;">Please contact D24-103!</h1>
<p>如果这个火车站订票系统曾帮助到你，如果你不希望它昙花一现，现希望各团体及个人对系统的运行及后续开发进行慷慨捐赠，
    对于所有捐赠者我们将列入系统支持者，并在首页公布，请以支付宝形式进行支付并注明自己的用户ID（必须完善真实的学校信息），
    受捐账号为guoruihan@sjtu.edu.cn，用户名为郭睿涵。对于较大额捐赠者，我们将提供更优质的服务，帮助其解决相关问题。
    具体事宜请联系guoruihan@sjtu.edu.cn(请附本人系统上ID)。火车票订票系统因你更美好，谢谢大家！</p>

<div style="text-align: center" class="my-5">
    <img src="/static/QRcode.png" class="img-fluid">
    <p class="h5 text-danger font-weight-bold">我很可爱，请给我钱！</p>
</div>

<div style="text-align: center">
    <a href="http://47.100.97.189/" class="btn btn-secondary" role="button">返回首页</a>
</div>
{% endblock %}