{% extends "base.html" %}
{% block web_title %}
    登录
{% endblock %}
{% block body_part %}
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <h2 style="text-align: center">登录</h2>
            <hr/>
            <form action="/login" method="post" id="login_form">
                <div class="form-group">
                    <label for="user_id">用户ID</label>
                    <input type="text" class="form-control" id="user_id" name="user_id" placeholder="请输入您的用户ID">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入您的密码">
                </div>

                <div>
                    <div id="captcha" style="position: relative"></div>
                    <div id="msg" style="text-align: center"></div>
                </div>

                <div id="login-buttons" style="text-align: center">
                    <button type="reset" class="btn btn-secondary">重置</button>
                    <button type="submit" class="btn btn-secondary" disabled>登录</button>
                </div>

                <script type="text/javascript">
                    jigsaw.init(document.getElementById('captcha'), function () {
                        document.getElementById('msg').innerHTML = "<p style='text-align=center'>验证成功！</p>";
                        document.getElementById('login-buttons').innerHTML = "<button type='reset' "
                            + "class='btn btn-secondary'>重置</button> <button type='submit' "
                            + "class='btn btn-primary'>登录</button>";
                    })
                </script>
            </form>
            <div style="text-align: center">
                <a href="register">没有帐号？点此注册！</a>
                <br>
                <a class="text-secondary" href="forget_password"><u>哎呀，我忘记密码了！</u></a>
            </div>
        </div>
    </div>
{% endblock %}